.newDetail {
  display: flex;
  flex-direction: column;
}
.newDetail__image {
  width: 100%;
  padding: 40px 0px;
}
.newDetail__labelInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.newDetail__field {
  display: flex;
  flex-direction: column;
}
.newDetail__field--twoColumns {
  grid-column: 1 / 3;
}
.newDetail__buttons {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newDetail__button {
  margin: 15px;
}
.newDetail__message {
  margin-bottom: 15px;
}

.message {
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.message__text {
  font-weight: bold;
  font-size: 24px;
}
.message__text--success {
  color: #27a58e;
}
.message__text--error {
  color: red;
}
