* {
  margin: 0px;
  padding: opx;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #efefef;
}

.logo {
  text-align: center;
  font-size: 36px;
}
.logo--blue {
  color: #0a4899;
}
.logo--turquoise {
  color: #27a58e;
}


/** Login **/
.login {
  background-color: #ffffff;
  border: 1px solid #0a4899;
  border-radius: 12px;
  padding: 30px 50px;
  width: 300px;
  height: 370px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 10px;
}
.login__label {
}
.login__input {
}
.login__input:hover {
}

/** Input **/
.input {
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #0a4899;
  outline: none;
}
.input:hover {
  border: none;
  border-bottom: 2px solid #0a4899;
}

/** Button **/
.button {
  padding: 15px 25px;
  font-size: 15px;
  font-weight: bold;
}
.button--primary {
    border-color: #0a4899;
    background-color: #0a4899;
    color: white;
}
.button--primary:hover {
    border-color: #0a4899;
    background-color: #062D60;
}
.button--success {
    background-color: #27a58e;
    color: #000;
}
.button--success:hover {
    background-color: #1F8472;
    color: white;
}
.button--ligth {
    background-color: #efefef;
}
.button--ligth:hover {
    background-color: #CCCCCC;
}